<div class="flex flex-column justify-content-center"  id="inicio">
  <div class="col-10">
    <h2 class="fadeinup animation-duration-1000">Contactame</h2>
    <p class="fadeinleft animation-duration-1000">
      Estoy a total disposición para trabajar en conjunto ya sea en algún
      proyecto, una app o un sitio web que tengas en mente, platícame por este
      medio sobre los detalles y/o tengamos una sesión para revisarlo, éstoy
      atento: <b>{{ "avadon2118@gmail.com" }}</b>
    </p>
  </div>
  <div>
    <h2 class="col-10 fadeinleft animation-duration-1000">
      Te gustaría conocerme?
    </h2>
    <p class="col-10 fadeinleft animation-duration-1000">
      Elige un espacio si quieres conocerme y charlar sobre cualquier cosa que
      te apasione, pero asegúrate de describir la agenda.
    </p>

    <div class="fadeindown animation-duration-1000">
      <a
        href="https://calendly.com/avadon2118/30min?month=2024-08"
        target="_blank"
        class="p-2 pt-0"
        ><img
          alt="meet_link"
          class="w-full"
          src="https://user-images.githubusercontent.com/15426564/144297439-f530f383-e73e-41e0-9914-a9b7d3f432e5.png"
      /></a>
    </div>
  </div>
</div>
